

h2{
    font-family: 'consolas';
}
.error{
    overflow: hidden;
    min-height: 100vh;
    background: linear-gradient(0deg, #fff, #0373f4);
}

.error .sky{
    width: 100%;
    height: 60vh;
    position: relative;
    
}
.error .sky .h404{
    font-size: 14em;
    color: #fff;
    text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.1);
    font-weight: 900;
}
.error .sky .h404 span{
    display: inline-block;
    animation: anima404 2s ease-in-out infinite;
    padding: 0px 10px;
}
.error .sky .h404 span:nth-child(even){
    animation-delay: -1s;
}
@keyframes anima404{
    0%, 100%{
        transform: translateY(-24px);
    }
    50%{
        transform: translateY(24px);
    }
}
.sky .big-plane{
    position: absolute;
    top: 100px;
    right: 20px;
    width: auto;
    transform: rotateZ(6deg);
}
.sky .big-plane .light{
    position: absolute;
    top: 0;
    right: 7px;
    width: 13px;
    height: 13px;
    background: #ff0000;
    animation: light 3s linear infinite;
}
@keyframes light{
    0%, 100%{
        background: #ffe605;
}
    50%{
        background: #ff0101;
}
    55%{
        background: #ffe605;
}
    60%{
        background: #ff0101;
}
    90%{
        background: #01ff38;
}
    95%{
        background: #ff0101;
}
}
.sky .plane2,
.sky .plane4,
.sky .plane3{
    position: absolute;
    bottom: 10%;
    right: 0px;
    max-width: 100px;
    transition: ease-in-out .4s;
    animation: flyPlane 7s linear infinite ;
    
}
.sky .plane3{
    animation-delay: -2.5s;
}
.sky .plane4{
    animation-delay: -5.5s;
}
.sky .flying img{
    width: 100%;
}

@keyframes flyPlane{
    0%{
    transform: rotateZ(0deg);
    right:0px;
        bottom: 1%;
    }
    15%{
    transform: rotateZ(5deg);
    right:15%;
        bottom: 2%;
    }
    55%{
    transform: rotateZ(14deg);
    }
    100%{
    transform: rotateZ(20deg);
    right:150%;
        bottom: 140%;
    }
    
}
.error .filed{
    height: 40vh;
    background: linear-gradient( #6a2308,  #be400e);
    box-shadow: inset 0 20px 10px #51680c;
}
.sky .grass{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background: url(../img/grass.png);
    background-repeat: repeat-x;
    animation: grass 0.3s linear infinite;
}
@keyframes grass{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 94px 0;
    }
}